<!--
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form (ngSubmit)="onSubmit()" #accountForm class="login100-form validate-form flex-sb flex-w"action="">
					<span class="login100-form-title p-b-51">
						login
					</span>


        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
          <input [(ngModel)]="account.username" ] #username="ngModel" class="input100" type="text" name="username" placeholder="Tên tài khoản" required>
          &lt;!&ndash;<div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            Không được bỏ trống trường này
          </div>&ndash;&gt;
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
          <input [(ngModel)]="account.password" #password="ngModel" class="input100" type="password" name="pass" placeholder="Mật khẩu" required>
          &lt;!&ndash;<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            Không được bỏ trống trường này
          </div>&ndash;&gt;
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button [disabled]="!accountForm.form.valid" ] class="login100-form-btn" type="submit" name="submit">Submit
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

-->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <span class="login100-form-title p-b-51">
						Login
					</span>
      <form (ngSubmit)="onSubmit()" #accountForm  class="login100-form validate-form flex-sb flex-w" action="">
        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
          <input [(ngModel)]="account.username" #username="ngModel" class="input100" type="text" name="username" placeholder="Username" required>
          <span class="focus-input100"></span>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            Không được bỏ trống trường này
          </div>
        </div>


        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
          <input [(ngModel)]="account.password" #password="ngModel" class="input100" type="password" name="pass" placeholder="Password" required>
          <span class="focus-input100"></span>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            Không được bỏ trống trường này
          </div>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
