<table class="table table-user-information">
  <tbody>
  <tr>
    <td>Name:</td>
    <td>{{gift?.name}}</td>
  </tr>

  <tr>
    <td>Decription:</td>
    <td>{{gift?.description}}</td>
  </tr>

  <tr>
    <td>Thumbnail</td>
    <td><app-slide [state]="state" [thumbnails]="gift?.thumbnail"></app-slide></td>
  </tr>

  <tr>
    <td>Gender</td>
    <td>{{gift?.gender}}</td>
  </tr>

  <tr>
    <td>Age Range</td>
    <td>{{gift?.age_range}}</td>
  </tr>

  <tr>
    <td>Account Name</td>
    <td>{{gift?.accountName}}</td>
  </tr>

  <tr>
    <td>Account Id</td>
    <td>{{gift?.accountId}}</td>
  </tr>

  <tr>
    <td>City Name</td>
    <td>{{gift?.cityName}}</td>
  </tr>

  <tr>
    <td>District Name</td>
    <td>{{gift?.districtName}}</td>
  </tr>

  <tr>
    <td>Street Name</td>
    <td>{{gift?.streetName}}</td>
  </tr>

  <tr>
    <td>Category Name</td>
    <td>{{gift?.categoryName}}</td>
  </tr>

  <tr>
    <td>Create At</td>
    <td>{{gift?.createdAt}}</td>
  </tr>
  <tr>
    <td>Update At</td>
    <td>{{gift?.updatedAt}}</td>
  </tr>
  <tr>
    <td>Delete At</td>
    <td>{{gift?.deletedAt}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{gift?.email}}</td>
  </tr>
  </tbody>
</table>
